body {
  background: linear-gradient(#551a8b, #9198e5);
  background-color: #9198e5;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.App {
  background-color: white;
  max-width: 600px;
  margin: 55px auto;
  padding: 25px 25px 15px 25px;
  border-radius: 15px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 50px;
  margin: 0;
}

.all-data {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.data-details {
  padding-top: 10px;
  color: gray;
}

strong {
  color: #86cef7;
}

.temperature-block {
  display: flex;
}

.temp-icon {
  font-size: 70px;
  margin: 20px 10px 0 0;
}

.temp {
  font-size: 100px;
  font-weight: 500;
}

.unit {
  font-size: 30px;
  margin-top: 25px;
}

.col {
  text-align: center;
  margin: 25px 0 25px 0;
}
