.Header .search-form {
  border-bottom: 1px solid #deca64;
  padding: 0 0 20px 0;
}

.Header .search-input {
  border: 1px solid #551a8b;
  background: #f9f7fe;
  padding: 10px;
  margin: 5px 0 10px 5px;
  width: 80%;
  border-radius: 5px;
  font-size: 15px;
}

.Header .search-submit {
  border: 1px solid #551a8b;
  background: #551a8b;
  padding: 10px;
  margin-left: 5px;
  width: 15%;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  transition: all 00ms ease-in-out;
}

.Header .search-submit:hover {
  background: #f9f7fe;
  color: black;
  border: 1px solid #551a8b;
}
